.header {
        background: var(--WHITE, #FFF);
}
.name-company {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.name-company-link {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.section-nav .link {
    color: #2E2F42;
}

.section-nav .link:active {
    color: #404BBF;
}

.section-nav .link:hover, .page-nav .link:focus {
    color: #404BBF;
}

.adress .link-adress {
    color: #434455;
}

.adress .link-adress:active {
    color: #404BBF;
}
.adress .link-adress:hover, .adress .link-adress:focus {
    color: #404BBF;
}

.body-name {
        font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #FFFFFF;
}

.section-one {
background: var(--NAVY-BLUE, #2E2F42);
}
.title-name-one {    
color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.section-two {
    background: var(--CLOUD, #F4F4FD);
}

.title-name-two {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize; 
}

.section-three {
    background: var(--CLOUD, #F4F4FD);
}

.title-name-three {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.p

.title-name-four {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.button-order {
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #FFF);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
}

.button-order:hover, .button-order:focus {
    border-radius: 4px;
        background: var(--OCEAN, #404BBF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.footer {
    background: var(--NAVY-BLUE, #2E2F42);
}
.footer .link-footer {
    color: #2E2F42;
}

.footer .link-footer:active {
    color: #404BBF;
}

.footer .link-footer:hover,
.footer .link-footer:focus {
    color: #404BBF;
}
.text-footer {
color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.name-company-footer {
    color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}